# --------------------------------- DotFiles --------------------------------- #

# ---------------------------------- LaTeX ----------------------------------- #

*.aux
*.log
*.toc
*.synctex.gz

# -------------------------- Files with underscore --------------------------- #

_*
