# --------------------------------- DotFiles --------------------------------- #

# ---------------------------------- LaTeX ----------------------------------- #

*.aux
*.log
*.toc

# -------------------------- Files with underscore --------------------------- #

_*
